
.background-obg{
    background: url("../img/fundo-stay.svg") no-repeat center -27%;
    background-size: 1380px;
}

@media (min-width:320px) and (max-width: 374px){
    .background-obg {
        background-size: 1800px;
    }
}

@media (min-width:375px) and (max-width: 424px){
    .background-obg {
        background-size: 1780px;
    }
}

@media (min-width:425px) and (max-width: 767px){
    .background-obg {
        background-size: 1510px;
    }
}

@media (min-width:768px) and (max-width: 1023px){
    .background-obg {
        background-size: 1470px;
    }
}


.titulo-principal{
    font-weight: 700;
    font-size: 27px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom:20px;
    
}

.instrucao{
    font-weight: 700;
    font-size: 27px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.lista-ebook a {
    color:#005e81 ;
    font-size:20px;
}

.lista-ebook a:hover{
    color: #1d9e7e;
}

.compartilhar {
    margin-bottom: 40px;
}