body {
    font-family:'Nunito', sans-serif;
    background: #FFF;
}

b{
    font-weight: 700;

}

.background{
    background: url("../img/fundo-stay.svg") no-repeat center -33%;
    background-size: 1490px;
    
}
@media (max-width:320px){
    .enviar{
        max-width:100%;
    }
}

@media (min-width:320px) and (max-width: 374px){
    .background {
        background-size: 1680px;
    }
}

@media (min-width:375px) and (max-width: 424px){
    .background {
        background-size: 1530px;
    }
}

@media (min-width:425px) and (max-width: 767px){
    .background {
        background-size: 1510px;
    }
}

@media (min-width:768px) and (max-width: 1023px){
    .background {
        background-size: 1570px;
    }
}

.logo{
    display: flex;
    justify-content: center;
    padding-top:24px;
}

.logo-stay-balanced{
    height:111px;
   
}

.chamada{
    max-width: 700px;
    padding: 40px 0;
    margin: 0 auto;
}

.titulo-principal{
    font-weight: 700;
    font-size: 27px;
    line-height: 42px;
    color: #FFFFFF;
    
}

.line{
    background-color:#5DFFD6;
    height: 6px;
    width: 196px;
    margin-bottom: 29px;
    margin-top:23px;
}

.paragrafo-principal{
    font-size: 20px;
    line-height: 31px;
    color: #005E81;
    font-weight: 300;
    margin-bottom:56px;
}

.reading{
    height:300px;
    margin-top:48px;
}

.conteudo-ebook{
    font-weight: 500;
    font-size: 27px;
    line-height: 42px;
    color:#005E81;
    margin-bottom:56px;
}

.lista-conteudo{
    font-size: 20px;
    line-height: 31px;
    color:#005E81;
    margin-bottom:56px;}

.abre-modal {
    background: #5DFFD6;
    border-radius: 10px;
    border:none;
    color:#000;
    width :265px;
    height:61px;
    font-weight:500;
    font-size: 18px;
    display:flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

}

.item-do-botao{
    font-size: 26px;
    color:#000;
    position:absolute;
    right:20px;
    


}
/* CSS FORMULÁRIO*/

.container-formulario {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 45px 46px 30px;
}

.container-formulario .close {
    color:#000;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    position: absolute;
    left: 89.91%;
    right: 5.05%;
    top: 2.43%;
    bottom: 93.15%;

}

.container-formulario .titulo-formulario {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color:#000;
    margin-bottom:10px;
}

.container-formulario .subtitulo-formulario{
    color:#000;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom:10px;
    }

.container-formulario .formulario label{
    font-size: 16px;
    line-height: 19px;   
    color: #000;
    display: block;
}

.container-formulario .formulario .input-padrao {
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border:none;
    height:39px;
    margin-bottom: 10px;
    width:100%;
}

.container-formulario .formulario .texto-obrigatorio {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom:10px;
}

.container-formulario .formulario .enviar{  
    background: #00E8AE;
    border-radius: 10px; 
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000;
    border:none;
    height:61px;
    width:259px;
    border-radius: 10px;
    margin-bottom:10px;
}

.container-formulario .checkbox{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color:#000
}


